@page "/SRPaymentHistory"

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject DialogService DialogService

<Message @ref="notificationComponent" />

<h3>SR Due Summary</h3>

@if (FilterSRDiscountSummaryList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card-body p-0">
        <div class="d-flex align-items-center mb-3" style="width: 100%;">
            <RadzenButton Click="@AddNew" Text="Add New" ButtonStyle="ButtonStyle.Success" />

            <!-- Search Box -->
            <div class="d-flex align-items-center border rounded me-3 mx-3" style="width: fit-content;">
                <!-- Search Icon -->
                <span class="ps-2" style="font-size: 1.2rem; color: #6c757d;">
                    <i class="fas fa-search"></i> <!-- Font Awesome search icon -->
                </span>

                <!-- Search Text Box -->
                <RadzenTextBox @bind-Value="@search" TValue="string" Placeholder="Search..." @oninput="OnSearch"
                               Style="border: none; box-shadow: none; padding-left: 0.5rem;" />
            </div>

            <!-- Export Button -->
            <div class="d-flex align-items-center border rounded" style="width: fit-content;">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem;" Wrap="FlexWrap.Wrap" Style="padding-left: 0.10rem;">
                    <RadzenButton Text="Export To PDF" Icon="picture_as_pdf" Click="@(args => ExportToPdf())" />
                </RadzenStack>
            </div>
        </div>

        <RadzenDataGrid Data="@FilterSRDiscountSummaryList" TItem="SRDiscountSummary" PageSize="10" AllowPaging="true" AllowSorting="true" AllowFiltering="false">
            <Columns>
                <RadzenDataGridColumn TItem="SRDiscountSummary" Property="@nameof(SRDiscountSummary.CustomerName)" Title="Customer Name" Width="300px" />
                <RadzenDataGridColumn TItem="SRDiscountSummary" Title="Due Amount" Width="200px" TextAlign="TextAlign.Right">
                    <Template Context="item">
                        <div>৳@item.TotalDueAmount.ToString("N2")</div>
                    </Template>
                    <FooterTemplate>
                        <div class="text-end fw-bold">৳@FilterSRDiscountSummaryList.Sum(o => o.TotalDueAmount).ToString("N2")</div>
                    </FooterTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="SRDiscountSummary" Title="Actions" Width="180px">
                    <Template Context="context">

                        <RadzenButton Icon="description" ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Small"
                                      Click="() => OrderDetails(context.CustomerId)" style="margin-right: 5px;" title="SR Payment History" />

                        <RadzenButton Icon="account_balance_wallet" ButtonStyle="ButtonStyle.Warning" Size="ButtonSize.Small"
                                      Click="() => DuePaymentSummary(context.CustomerId)" style="margin-right: 5px;" title="SR Due Payment Summary" />

                        <RadzenButton Icon="receipt_long" ButtonStyle="ButtonStyle.Secondary" Size="ButtonSize.Small"
                                      Click="() => SRDueList(context.CustomerId)" style="margin-right: 5px;" title="SR Due History" />

                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
}


@if (showModal)
{
    <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="1" style="display:block">
        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content card dataFormPop">
                <div class="modal-header">
                    <h3>@(SRPaymentHistory.Id > 0 ? "Edit Payment" : "Add Payment")</h3>
                </div>

                <EditForm Model="@SRPaymentHistory" OnValidSubmit="HandleSubmit">
                    <div class="card dataForm ">
                        <div class="row m-3">
                            <div class="col-md-4 mb-3">
                                <label class="Asterisk form-label">Person</label>
                                <RadzenDropDown @bind-Value="SRPaymentHistory.CustomerId"
                                                Data="@CustomerList"
                                                TextProperty="Name"
                                                ValueProperty="Id"
                                                Class="w-100"
                                                Placeholder="Search Person"
                                                AllowClear="true"
                                                AllowFiltering="true"
                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                Change="@OnCustomerChanged" />
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Due Amount</label>
                                <InputNumber @bind-Value="DueAmount" class="form-control" disabled></InputNumber>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Date</label>
                                <RadzenDatePicker @bind-Value="SRPaymentHistory.PaymentDate" DateFormat="yyyy-MM-dd" Class="w-100" />
                            </div>
                        </div>
                        <div class="row m-3">
                            <div class="col-md-4 mb-3">
                                <label class="Asterisk">Amount Paid</label>
                                <InputNumber @bind-Value="SRPaymentHistory.AmountPaid" class="form-control"></InputNumber>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label >Payment Method</label>
                                <RadzenDropDown @bind-Value="SRPaymentHistory.PaymentMethodId"
                                                Data="@PaymentMethodList"
                                                TextProperty="Name"
                                                ValueProperty="Id"
                                                Class="w-100"
                                                Placeholder="Search Payment Method"
                                                AllowClear="true"
                                                AllowFiltering="true"
                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12">
                            <RadzenButton Text="Save" ButtonStyle="ButtonStyle.Primary" Type="submit" Class="m-2" />
                            <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Secondary" Click="CloseModal" Class="m-2" />
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}



@code {
    [Inject]
    private ILookup m_Lookup { get; set; }

    [Inject]
    private ISRPaymentHistory m_SRPaymentHistory { get; set; }

    [Inject]
    private ISRDiscount m_SRDiscount { get; set; }

    [Inject]
    private NavigationManager _navigationManager { get; set; }

    public IEnumerable<SRDiscountSummary> SRDiscountSummaryList { get; set; } = new List<SRDiscountSummary>();

    private IEnumerable<Lovd> CustomerList { get; set; } = new List<Lovd>();
    private IEnumerable<Lov> PaymentMethodList { get; set; } = new List<Lov>();

    private bool showModal = false;
    private double DueAmount { get; set; } = 0;

    public SRPaymentHistory SRPaymentHistory { get; set; }
    private Message notificationComponent;


    private IEnumerable<SRDiscountSummary> FilterSRDiscountSummaryList { get; set; } = new List<SRDiscountSummary>();

    [Inject]
    private IJSRuntime JSRuntime { get; set; }

    private string search = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        //CustomerList = await m_Lookup.GetAllCustomerList();
        var personList = await m_Lookup.GetAllCustomerList();
        CustomerList = personList.Where(x => x.Desc == "SR").ToList();

        PaymentMethodList = await m_Lookup.GetAllPaymentMethodList();

        //CustomerList = CustomerList.Where(c => !c.IsDeleted);
        //PaymentMethodList = PaymentMethodList.Where(c => !c.IsDeleted);

        await LoadData();
    }


    private void AddNew()
    {
        SRPaymentHistory = new SRPaymentHistory()
        {
        };
        showModal = true;
    }

    private async Task LoadData()
    {
        DueAmount = 0;

        SRDiscountSummaryList = await m_SRDiscount.GetTotalDiscountPerSRAsync();
        FilterSRDiscountSummaryList = SRDiscountSummaryList;
    }

    private async Task HandleSubmit()
    {

        if (SRPaymentHistory.CustomerId <= 0)
        {
            notificationComponent.Show("Validation Error", "Please select an Name before proceeding.", NotificationSeverity.Warning);
            return;
        }

        if (SRPaymentHistory.PaymentMethodId <= 0 || SRPaymentHistory.PaymentMethodId is null)
        {
            notificationComponent.Show("Validation Error", "Please select an Payment Method before proceeding.", NotificationSeverity.Warning);
            return;
        }

        if (SRPaymentHistory.AmountPaid <= 0)
        {
            notificationComponent.Show("Validation Error", "Paid amount must be greater than zero.", NotificationSeverity.Warning);
            return;
        }

        showModal = false;

        if (SRPaymentHistory.Id > 0)
        {
            m_SRPaymentHistory.UpdateSRPaymentHistory(SRPaymentHistory);
            notificationComponent.Show("Updated Summary", "SR Payment History has been Updated successfully", NotificationSeverity.Warning);
        }
        else
        {
            m_SRPaymentHistory.CreateSRPaymentHistory(SRPaymentHistory);
            notificationComponent.Show("Added Summary", "SR Payment History has been Added successfully", NotificationSeverity.Success);
        }

        await LoadData();
        StateHasChanged();
    }

    private async Task OnCustomerChanged(object value)
    {
        if (value is int customerId)
        {
            DueAmount = SRDiscountSummaryList
                .Where(x => x.CustomerId == customerId)
                .Sum(x => x.TotalDueAmount);
        }
    }

    private void OrderDetails(int customerId)
    {
        _navigationManager.NavigateTo($"/SRDiscountPaymentDetails/{customerId}");
    }

    private void DuePaymentSummary(int customerId)
    {
        _navigationManager.NavigateTo($"/SRDiscountDuePaymentSummary/{customerId}");
    }

    private void SRDueList(int customerId)
    {
        _navigationManager.NavigateTo($"/SRDueHistory/{customerId}");
    }

    private void CloseModal()
    {
        showModal = false;
    }


    private void OnSearch(ChangeEventArgs e)
    {
        search = e.Value?.ToString() ?? string.Empty;
        FilterData();
    }

    private void FilterData()
    {
        if (string.IsNullOrWhiteSpace(search))
        {
            FilterSRDiscountSummaryList = SRDiscountSummaryList;
        }
        else
        {
            FilterSRDiscountSummaryList = SRDiscountSummaryList.Where(c =>
                (!string.IsNullOrEmpty(c.CustomerName) && c.CustomerName.Contains(search, StringComparison.OrdinalIgnoreCase)) ||
                (!string.IsNullOrEmpty(c.TotalDueAmount.ToString()) && c.TotalDueAmount.ToString().Contains(search, StringComparison.OrdinalIgnoreCase))
            ).ToList();
        }


    }

    public async Task ExportToPdf()
    {
        if (!ValidationHelper.ValidateAndNotify(FilterSRDiscountSummaryList, notificationComponent))
            return;

        var document = Document.Create(container =>
        {
            container.Page(page =>
            {
                // Set individual margins
                page.MarginTop(20);     // Top margin
                page.MarginBottom(20);  // Bottom margin
                page.MarginLeft(40);    // Left margin
                page.MarginRight(40);   // Right margin

                page.Size(PageSizes.A4);
                page.DefaultTextStyle(style => style.FontSize(10));

                page.Header().Element(ComposeHeader);

                page.Content()
                    .PaddingVertical(10)
                    .Table(table =>
                    {
                        table.ColumnsDefinition(columns =>
                        {
                            columns.RelativeColumn(3);
                            columns.RelativeColumn(3);
                        });

                        // Header
                        table.Header(header =>
                        {
                            header.Cell().Background("#f5f5f5").Padding(5).Text("Name").Bold();
                            header.Cell().Background("#f5f5f5").Padding(5).Text("Total Amount").Bold();
                        });

                        // Data rows
                        foreach (var customer in FilterSRDiscountSummaryList)
                        {
                            table.Cell().PaddingVertical(5).PaddingHorizontal(5).Text(customer.CustomerName);
                            table.Cell().PaddingVertical(5).PaddingHorizontal(5).Text($"৳{customer.TotalDueAmount:N2}");
                        }

                        // Total Row
                        table.Cell().ColumnSpan(1).PaddingVertical(5).PaddingHorizontal(5).AlignRight().Text("Total").Bold();
                        table.Cell().PaddingVertical(5).PaddingHorizontal(5).Text($"৳{FilterSRDiscountSummaryList.Sum(x => x.TotalDueAmount):N2}").Bold();

                    });

                page.Footer().Row(row =>
                    {
                        row.RelativeItem().AlignLeft().Text(DateTime.Now.ToString("dd/MM/yyyy HH:mm"));
                        row.RelativeItem().AlignCenter().Text(text =>
                        {
                            text.CurrentPageNumber();
                            text.Span(" / ");
                            text.TotalPages();
                        });
                        row.RelativeItem(); // Empty space for right side (optional)
                    });
            });
        });

        using var stream = new MemoryStream();
        document.GeneratePdf(stream);

        var fileName = $"Discount Summary_{DateTime.Now:yyyyMMddHHmmss}.pdf";
        await JSRuntime.InvokeVoidAsync("downloadFile", fileName, "application/pdf", stream.ToArray());
    }

    void ComposeHeader(IContainer container)
    {
        var company = m_Lookup.GetCompanyInfo();

        container.Row(row =>
        {
            row.RelativeItem().Column(column =>
            {
                column.Item().AlignCenter().Text($"{company.CompanyName}").Bold().FontSize(16);
                column.Item().AlignCenter().Text($"{company.Address}").FontSize(10);
                column.Item().AlignCenter().Text($"Discount Summary Report").Bold().FontSize(10);
            });
        });
    }
}