@page "/ProductCategory"

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject DialogService DialogService

<Message @ref="notificationComponent" />

<h3>Product Category</h3>

@if (ProductCategories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card-body p-0">
        <RadzenButton Click="@AddNew" Text="Add New" ButtonStyle="ButtonStyle.Success"></RadzenButton>

        <RadzenDataGrid Data="@ProductCategories" TItem="ProductCategory" PageSize="10" AllowPaging="true" AllowSorting="true" AllowFiltering="false">
            <Columns>
                <RadzenDataGridColumn TItem="ProductCategory" Property="@nameof(ProductCategory.Name)" Title="Product Category" Width="200px" />
                <RadzenDataGridColumn TItem="ProductCategory" Property="@nameof(ProductCategory.Description)" Title="Description" Width="350px" />
                <RadzenDataGridColumn TItem="ProductCategory" Title="Deleted" Width="80px">
                    <Template Context="item">
                        @{
                            bool isDisabled = item.IsDeleted == true;
                            string text = isDisabled ? "Yes" : "No";
                            string badgeColor = isDisabled ? "badge bg-danger" : "badge bg-primary"; // Blue for Yes, Red for No
                        }
                        <span class="@badgeColor">@text</span>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ProductCategory" Title="Actions" Width="60px">
                    <Template Context="product">
                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small"
                                      Click="() => Edit(product.Id)" style="margin-right: 5px;" title="Edit" />
                        <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small"
                                      Click="() => ConfirmDelete(product.Id)" title="Delete" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
}

@if (showModal)
{
    <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="1" style="display:block">
        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content card dataFormPop">
                <div class="modal-header">
                    <h3>@(ProductCategory.Id > 0 ? "Edit Product Category" : "Add Product Category")</h3>
                </div>

                <EditForm Model="@ProductCategory" OnValidSubmit="HandleSubmit">
                    <div class="card dataForm ">
                        <div class="row m-3">
                            <div class="col-md-4 mb-3">
                                <label class="Asterisk">Name</label>
                                <InputText @bind-Value="ProductCategory.Name" class="form-control"></InputText>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Comments</label>
                                <InputText @bind-Value="ProductCategory.Description" class="form-control"></InputText>
                            </div>
                            @if (ProductCategory.Id > 0)
                            {
                                <div class="col-md-4 mb-3">
                                    <div class="form-check mb-3 pt-4">
                                        <InputCheckbox @bind-Value="ProductCategory.IsDeleted" class="form-check-input custom-checkbox-lg" id="disableCheck" />
                                        <label class="form-check-label" for="disableCheck">Deleted</label>
                                    </div>
                                </div>
                            }
                        </div>
                        <br />
                        <div class="col-md-12">
                            <RadzenButton Text="Save" ButtonStyle="ButtonStyle.Primary" Type="submit" Class="m-2" />
                            <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Secondary" Click="CloseModal" Class="m-2" />
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}

@code {
    [Inject]
    private IProductCategory m_ProductCategory { get; set; }

    [Inject]
    private NavigationManager _navigationManager { get; set; }

    public IEnumerable<ProductCategory> ProductCategories { get; set; } = new List<ProductCategory>();

    private bool showModal = false;

    public ProductCategory ProductCategory { get; set; }
    private Message notificationComponent;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task HandleSubmit()
    {
        if (string.IsNullOrWhiteSpace(ProductCategory.Name))
        {
            notificationComponent.Show("Validation Summary", "Product category name is required.", NotificationSeverity.Warning);
            return;
        }


        showModal = false;

        if (ProductCategory.Id > 0)
        {
            m_ProductCategory.UpdateProductCategory(ProductCategory);
            notificationComponent.Show("Updated Summary", "Product Category has been Updated successfully", NotificationSeverity.Warning);
        }
        else
        {
            m_ProductCategory.CreateProductCategory(ProductCategory);
            notificationComponent.Show("Added Summary", "Product Category has been Added successfully", NotificationSeverity.Success);
        }

        _navigationManager.NavigateTo($"/ProductCategory", true);
    }

    private void Edit(int id)
    {
        showModal = true;

        if (id > 0)
        {
            ProductCategory = m_ProductCategory.GetProductCategory(id);
        }
        else
        {
            ProductCategory = new ProductCategory()
                {
                };
        }
    }

    // private async Task Delete(int id)
    // {
    //     m_ProductCategory.DeleteProductCategory(id);
    //     notificationComponent.Show("Delete Summary", "Product Category has been Deleted successfully", NotificationSeverity.Error);

    //     await LoadData();
    // }

    async Task ConfirmDelete(int id)
    {
        var options = new ConfirmOptions()
            {
                OkButtonText = "Yes, Delete",
                CancelButtonText = "No, Keep",
                ShowClose = true,
            };

        bool? confirmed = await DialogService.Confirm("Are you absolutely sure you want to delete this item?", "Delete Confirmation", options);

        if (confirmed == true)
        {
            await Delete(id);
        }
    }

    async Task Delete(int id)
    {
       bool isDeletedC =  m_ProductCategory.DeleteProductCategory(id);
       if (!isDeletedC)
        {
            notificationComponent.Show("Delete Summary", "Product Category could not be deleted. It already has associated products.", NotificationSeverity.Error);
            return;
        }

        notificationComponent.Show("Delete Summary", "Product Category has been Deleted successfully", NotificationSeverity.Error);

        await LoadData();
        StateHasChanged(); // If you are managing the data source manually
    }


    private void AddNew()
    {
        ProductCategory = new ProductCategory()
            {
            };
        showModal = true;
    }

    private async Task LoadData()
    {
        ProductCategories = await m_ProductCategory.GetAllProductCategories();
    }

    private void CloseModal()
    {
        showModal = false;
    }
}